<template>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="text-center">{{pais.name}}</h5>
      <p class="text-center">
        <img :src="pais.flag" :alt="`${pais.name}-bandera`" class="img-fluid w-50">
      </p>
      <p class="card-text">
        <span class="badge badge-secondary d-block mb-1">Nombre Natico: {{pais.nativeName}}</span>
        <span class="badge badge-info d-block mb-1 p-3">Poblacion: {{formatNumber(pais.population)}}</span>
        <span class="badge badge-secondary d-block mb-1">Capital: {{pais.capital}}</span>
        <span class="badge badge-secondary d-block mb-1">Region: {{pais.region}}</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['pais'],
  setup() {
    const formatNumber = (numero) => {
      return new Intl.NumberFormat("de-DE").format(numero)
    }

    return { formatNumber }
  }
}
</script>
